In [1]:
#Function that predicts the n-day stock return based on the given parameters
import pandas as pd
import numpy as np
stock_df = pd.read_csv('data/adjusted_stock_data.csv')
 
stock_df['Date'] = pd.to_datetime(stock_df['Date'])

In [2]:
stock_df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'Description', 'Symbol', 'Company Name',
       'Market capitalization as on March 28, 2024\n(In lakhs)'],
      dtype='object')

In [8]:
stock_df

,Date,Open,High,Low,Close,Adj Close,Volume,Description,Symbol,Company Name,"Market capitalization as on March 28, 2024\n(In lakhs)"
0,2024-07-30,3034.05,3050.00,3020.00,3026.30,3026.30,4110291.0,Reliance Industries Limited engages in hydroca...,RELIANCE,Reliance Industries Limited,2.010560e+08
1,2024-07-29,3023.90,3055.00,3023.55,3040.20,3040.20,3769275.0,Reliance Industries Limited engages in hydroca...,RELIANCE,Reliance Industries Limited,2.010560e+08
2,2024-07-26,2984.80,3024.85,2980.70,3018.05,3018.05,4929970.0,Reliance Industries Limited engages in hydroca...,RELIANCE,Reliance Industries Limited,2.010560e+08
3,2024-07-25,2962.00,3000.95,2954.15,2984.80,2984.80,6259938.0,Reliance Industries Limited engages in hydroca...,RELIANCE,Reliance Industries Limited,2.010560e+08
4,2024-07-24,2970.00,3019.00,2952.80,2991.40,2991.40,5956681.0,Reliance Industries Limited engages in hydroca...,RELIANCE,Reliance Industries Limited,2.010560e+08
...,...,...,...,...,...,...,...,...,...,...,...
6815036,2005-05-13,128.00,139.30,124.00,134.80,97.81,1128800.0,Allsec Technologies Limited provides business ...,ALLSEC,Allsec Technologies Limited,1.113312e+05
6815037,2005-05-12,123.25,129.80,122.40,126.20,91.57,347600.0,Allsec Technologies Limited provides business ...,ALLSEC,Allsec Technologies Limited,1.113312e+05
6815038,2005-05-11,129.70,131.50,118.00,121.85,88.41,352600.0,Allsec Technologies Limited provides business ...,ALLSEC,Allsec Technologies Limited,1.113312e+05
6815039,2005-05-10,126.70,135.60,125.15,130.15,94.43,1492300.0,Allsec Technologies Limited provides business ...,ALLSEC,Allsec Technologies Limited,1.113312e+05
6815040,2005-05-09,150.00,150.00,125.00,128.15,92.98,2853711.0,Allsec Technologies Limited provides business ...,ALLSEC,Allsec Technologies Limited,1.113312e+05

In [3]:
stock_df.isna().sum()

Date                                                           0
Open                                                           0
High                                                           0
Low                                                            0
Close                                                          0
Adj Close                                                      0
Volume                                                    292717
Description                                                    0
Symbol                                                         0
Company Name                                                   0
Market capitalization as on March 28, 2024\n(In lakhs)    103692
dtype: int64

In [4]:
dividend_rows =  pd.read_csv('data/dividend_rows.csv')
dividend_rows['Date'] = pd.to_datetime(dividend_rows['Date'])
dividend_rows.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Company Name_x,Ticker,Company Name_y,Description,Symbol,Company Name,"Market capitalization as on March 28, 2024\n(In lakhs)"
0,2023-08-21,9.00Dividend,NaN,NaN,NaN,NaN,NaN,Reliance Industries Limited,RELIANCE,Reliance Industries Limited,Reliance Industries Limited engages in hydroca...,RELIANCE,Reliance Industries Limited,2.010560e+08
1,2022-08-18,8.00Dividend,NaN,NaN,NaN,NaN,NaN,Reliance Industries Limited,RELIANCE,Reliance Industries Limited,Reliance Industries Limited engages in hydroca...,RELIANCE,Reliance Industries Limited,2.010560e+08
2,2021-06-11,7.00Dividend,NaN,NaN,NaN,NaN,NaN,Reliance Industries Limited,RELIANCE,Reliance Industries Limited,Reliance Industries Limited engages in hydroca...,RELIANCE,Reliance Industries Limited,2.010560e+08
3,2020-07-02,6.50Dividend,NaN,NaN,NaN,NaN,NaN,Reliance Industries Limited,RELIANCE,Reliance Industries Limited,Reliance Industries Limited engages in hydroca...,RELIANCE,Reliance Industries Limited,2.010560e+08
4,2019-08-02,6.44Dividend,NaN,NaN,NaN,NaN,NaN,Reliance Industries Limited,RELIANCE,Reliance Industries Limited,Reliance Industries Limited engages in hydroca...,RELIANCE,Reliance Industries Limited,2.010560e+08

In [5]:
dividend_rows.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'Company Name_x', 'Ticker', 'Company Name_y', 'Description', 'Symbol',
       'Company Name',
       'Market capitalization as on March 28, 2024\n(In lakhs)'],
      dtype='object')

In [6]:
dividend_rows.isna().sum()

Date                                                          0
Open                                                          0
High                                                      21651
Low                                                       21651
Close                                                     21651
Adj Close                                                 21651
Volume                                                    21651
Company Name_x                                                0
Ticker                                                        0
Company Name_y                                                0
Description                                                   0
Symbol                                                        0
Company Name                                                  0
Market capitalization as on March 28, 2024\n(In lakhs)       79
dtype: int64

In [7]:
unique_tickers = dividend_rows['Ticker'].unique() 
unique_tickers

array(['RELIANCE', 'TCS', 'HDFCBANK', ..., 'VISASTEEL', 'GICHSGFIN',
       'ALLSEC'], dtype=object)

In [11]:
# Check if the symbols and dates match between datasets - company tickers
common_symbols = set(stock_df['Symbol']).intersection(set(dividend_rows['Symbol']))
print(f"Number of common symbols: {len(common_symbols)}")

Number of common symbols: 1536

In [13]:
analyst_ratings =  pd.read_csv('data/2000_analysts_og.csv')
analyst_ratings['date'] = pd.to_datetime(analyst_ratings['date'])
analyst_ratings.head()

C:\Users\disch\AppData\Local\Temp\ipykernel_17392\1269458253.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  analyst_ratings['date'] = pd.to_datetime(analyst_ratings['date'])

,Unnamed: 0,date,stock_name,author,ltp,target,price_at_reco,upside%,type,pdf_url
0,45319,2024-07-29,havells-india-ltd,Geojit BNP Paribas\nReco Target,1988.05,1644.0,1837.60\n(8.19%),17.31,Sell,https://trendlyne.com/get-document/report/pdf/...
1,45320,2024-07-21,havells-india-ltd,Anand Rathi\nTarget,1988.05,2146.0,1768.50\n(12.41%),7.94,Buy,https://trendlyne.com/get-document/report/pdf/...
2,45321,2024-07-19,havells-india-ltd,Keynote Capitals Ltd\nReco Target,1988.05,1720.0,1768.50\n(12.41%),Target met,Sell,https://trendlyne.com/get-document/report/pdf/...
3,45322,2024-07-19,havells-india-ltd,Prabhudas Lilladhar\nTarget,1988.05,1976.0,1768.50\n(12.41%),Target met,Accumulate,https://trendlyne.com/get-document/report/pdf/...
4,45323,2024-06-05,havells-india-ltd,BOB Capital Markets Ltd.,1988.05,1780.0,1792.80\n(10.89%),Target met,Hold,https://trendlyne.com/get-document/report/pdf/...

In [14]:
analyst_ratings.columns

Index(['Unnamed: 0', 'date', 'stock_name', 'author', 'ltp', 'target',
       'price_at_reco', 'upside%', 'type', 'pdf_url'],
      dtype='object')

In [15]:
analyst_ratings.isna().sum()

Unnamed: 0         0
date               0
stock_name         0
author             0
ltp                0
target            72
price_at_reco     16
upside%          219
type              13
pdf_url           34
dtype: int64

In [38]:
# Data Preprocessing
stock_df = stock_df.drop(['Volume', 'Market capitalization as on March 28, 2024\n(In lakhs)'], axis=1)

KeyError: "['Volume', 'Market capitalization as on March 28, 2024\\n(In lakhs)'] not found in axis"

In [18]:
def clean_price_at_reco(price):
    percentage = None  # Initialize percentage as None

    # Check if the price is a string
    if isinstance(price, str):
        # Split the string by newline
        parts = price.split('\n')
        
        # Check if we have at least two parts
        if len(parts) >= 2:
            # Take the first part as price and second as percentage
            price = parts[0]
            percentage = parts[1]
            
        # Attempt to convert to numeric, ignoring any errors
        price = pd.to_numeric(price, errors='coerce')
    
    return price, percentage
    
# Apply the cleaning function to the 'price_at_reco' column and collect results
analyst_ratings[['cleaned_price_at_reco', 'percentage']] = analyst_ratings['price_at_reco'].apply(
    lambda x: pd.Series(clean_price_at_reco(x))
)

# Print the cleaned DataFrame
analyst_ratings[['price_at_reco', 'cleaned_price_at_reco', 'percentage']]

         price_at_reco  cleaned_price_at_reco percentage
0     1837.60\n(8.19%)                1837.60    (8.19%)
1    1768.50\n(12.41%)                1768.50   (12.41%)
2    1768.50\n(12.41%)                1768.50   (12.41%)
3    1768.50\n(12.41%)                1768.50   (12.41%)
4    1792.80\n(10.89%)                1792.80   (10.89%)
..                 ...                    ...        ...
753  349.00\n(-47.07%)                 349.00  (-47.07%)
754  261.95\n(-29.48%)                 261.95  (-29.48%)
755   120.15\n(53.76%)                 120.15   (53.76%)
756   108.80\n(69.80%)                 108.80   (69.80%)
757   84.55\n(118.50%)                  84.55  (118.50%)

[758 rows x 3 columns]

In [19]:
analyst_ratings

,Unnamed: 0,date,stock_name,author,ltp,target,price_at_reco,upside%,type,pdf_url,cleaned_price_at_reco,percentage
0,45319,2024-07-29,havells-india-ltd,Geojit BNP Paribas\nReco Target,1988.05,1644.0,1837.60\n(8.19%),17.31,Sell,https://trendlyne.com/get-document/report/pdf/...,1837.60,(8.19%)
1,45320,2024-07-21,havells-india-ltd,Anand Rathi\nTarget,1988.05,2146.0,1768.50\n(12.41%),7.94,Buy,https://trendlyne.com/get-document/report/pdf/...,1768.50,(12.41%)
2,45321,2024-07-19,havells-india-ltd,Keynote Capitals Ltd\nReco Target,1988.05,1720.0,1768.50\n(12.41%),Target met,Sell,https://trendlyne.com/get-document/report/pdf/...,1768.50,(12.41%)
3,45322,2024-07-19,havells-india-ltd,Prabhudas Lilladhar\nTarget,1988.05,1976.0,1768.50\n(12.41%),Target met,Accumulate,https://trendlyne.com/get-document/report/pdf/...,1768.50,(12.41%)
4,45323,2024-06-05,havells-india-ltd,BOB Capital Markets Ltd.,1988.05,1780.0,1792.80\n(10.89%),Target met,Hold,https://trendlyne.com/get-document/report/pdf/...,1792.80,(10.89%)
...,...,...,...,...,...,...,...,...,...,...,...,...
753,46072,2017-11-08,rain-industries-ltd,AUM Capital,184.74,410.0,349.00\n(-47.07%),Target met,Buy,https://trendlyne.com/get-document/report/pdf/...,349.00,(-47.07%)
754,46073,2017-11-01,rain-industries-ltd,Motilal Oswal,184.74,362.0,261.95\n(-29.48%),Target met,Buy,https://trendlyne.com/get-document/report/pdf/...,261.95,(-29.48%)
755,46074,2017-08-14,rain-industries-ltd,IDBI Capital\nTarget,184.74,144.0,120.15\n(53.76%),Target met,Buy,https://trendlyne.com/get-document/report/pdf/...,120.15,(53.76%)
756,46075,2017-05-08,rain-industries-ltd,IDBI Capital\nTarget,184.74,139.0,108.80\n(69.80%),Target met,Buy,https://trendlyne.com/get-document/report/pdf/...,108.80,(69.80%)
757,46076,2017-02-27,rain-industries-ltd,IDBI Capital\nTarget,184.74,103.0,84.55\n(118.50%),Target met,Buy,https://trendlyne.com/get-document/report/pdf/...,84.55,(118.50%)

# Output Variable 1

In [20]:
# Clean 'price_at_reco' and 'target' to extract numeric values
analyst_ratings['cleaned_price_at_reco'] = analyst_ratings['cleaned_price_at_reco'].astype(float)
analyst_ratings['target'] = analyst_ratings['target'].astype(float)

# Calculate expected return
analyst_ratings['expected_return'] = ((analyst_ratings['target'] - analyst_ratings['cleaned_price_at_reco']) / analyst_ratings['cleaned_price_at_reco']) * 100

In [22]:
#difference between target and price at recommendation - which defines upside% whether target was met or not
analyst_ratings[['target','cleaned_price_at_reco']]

     target  cleaned_price_at_reco
0    1644.0                1837.60
1    2146.0                1768.50
2    1720.0                1768.50
3    1976.0                1768.50
4    1780.0                1792.80
..      ...                    ...
753   410.0                 349.00
754   362.0                 261.95
755   144.0                 120.15
756   139.0                 108.80
757   103.0                  84.55

[758 rows x 2 columns]

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd
from tqdm import tqdm

# Filter the DataFrame for the date range
df_2019 = stock_df[(stock_df['Date'] >= '1900-01-01') & (stock_df['Date'] <= '2024-12-31')]

# Prepare company names for TF-IDF matching
company_names = [x.lower() for x in stock_df['Company Name'].unique().tolist()]
vectorizer = TfidfVectorizer(analyzer='char', ngram_range=(2, 4), max_features=5000)  # Character-based TF-IDF
tfidf_matrix = vectorizer.fit_transform(company_names)

print("Matrix shape", tfidf_matrix.shape)

# Function to get the best match using cosine similarity
def get_closest_company_name(input_name, company_names, tfidf_matrix, vectorizer):
    input_tfidf = vectorizer.transform([input_name.lower()])
    cosine_similarities = cosine_similarity(input_tfidf, tfidf_matrix).flatten()
    best_match_idx = cosine_similarities.argmax()
    best_match_score = cosine_similarities[best_match_idx]
    return company_names[best_match_idx] if best_match_score > 0.5 else None  # Threshold of 0.5 for similarity

# Apply TF-IDF matching with tqdm for progress visualization
tqdm.pandas()  # Initialize tqdm with pandas
analyst_ratings['matched_company_name'] = analyst_ratings['stock_name'].progress_apply(
    lambda x: get_closest_company_name(x, company_names, tfidf_matrix, vectorizer)
)

# Create a mapping of matched company names to symbols
symbol_map = stock_df[['Company Name', 'Symbol']].drop_duplicates()
symbol_map['Company Name'] = symbol_map['Company Name'].str.lower()
analyst_ratings = pd.merge(analyst_ratings, symbol_map, left_on='matched_company_name', right_on='Company Name', how='left')

Matrix shape (1973, 5000)

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 758/758 [00:06<00:00, 108.42it/s]

In [33]:
print(analyst_ratings)

     Unnamed: 0       date           stock_name  \
0         45319 2024-07-29    havells-india-ltd
1         45320 2024-07-21    havells-india-ltd
2         45321 2024-07-19    havells-india-ltd
3         45322 2024-07-19    havells-india-ltd
4         45323 2024-06-05    havells-india-ltd
..          ...        ...                  ...
753       46072 2017-11-08  rain-industries-ltd
754       46073 2017-11-01  rain-industries-ltd
755       46074 2017-08-14  rain-industries-ltd
756       46075 2017-05-08  rain-industries-ltd
757       46076 2017-02-27  rain-industries-ltd

                                  author      ltp  target      price_at_reco  \
0      Geojit BNP Paribas\nReco   Target  1988.05  1644.0   1837.60\n(8.19%)
1                    Anand Rathi\nTarget  1988.05  2146.0  1768.50\n(12.41%)
2    Keynote Capitals Ltd\nReco   Target  1988.05  1720.0  1768.50\n(12.41%)
3            Prabhudas Lilladhar\nTarget  1988.05  1976.0  1768.50\n(12.41%)
4               BOB Capital Markets Ltd.  1988.05  1780.0  1792.80\n(10.89%)
..                                   ...      ...     ...                ...
753                          AUM Capital   184.74   410.0  349.00\n(-47.07%)
754                        Motilal Oswal   184.74   362.0  261.95\n(-29.48%)
755                 IDBI Capital\nTarget   184.74   144.0   120.15\n(53.76%)
756                 IDBI Capital\nTarget   184.74   139.0   108.80\n(69.80%)
757                 IDBI Capital\nTarget   184.74   103.0   84.55\n(118.50%)

        upside%        type  \
0         17.31        Sell
1          7.94         Buy
2    Target met        Sell
3    Target met  Accumulate
4    Target met        Hold
..          ...         ...
753  Target met         Buy
754  Target met         Buy
755  Target met         Buy
756  Target met         Buy
757  Target met         Buy

                                               pdf_url  cleaned_price_at_reco  \
0    https://trendlyne.com/get-document/report/pdf/...                1837.60
1    https://trendlyne.com/get-document/report/pdf/...                1768.50
2    https://trendlyne.com/get-document/report/pdf/...                1768.50
3    https://trendlyne.com/get-document/report/pdf/...                1768.50
4    https://trendlyne.com/get-document/report/pdf/...                1792.80
..                                                 ...                    ...
753  https://trendlyne.com/get-document/report/pdf/...                 349.00
754  https://trendlyne.com/get-document/report/pdf/...                 261.95
755  https://trendlyne.com/get-document/report/pdf/...                 120.15
756  https://trendlyne.com/get-document/report/pdf/...                 108.80
757  https://trendlyne.com/get-document/report/pdf/...                  84.55

    percentage  expected_return     matched_company_name  \
0      (8.19%)       -10.535481    havells india limited
1     (12.41%)        21.345773    havells india limited
2     (12.41%)        -2.742437    havells india limited
3     (12.41%)        11.733107    havells india limited
4     (10.89%)        -0.713967    havells india limited
..         ...              ...                      ...
753  (-47.07%)        17.478510  rain industries limited
754  (-29.48%)        38.194312  rain industries limited
755   (53.76%)        19.850187  rain industries limited
756   (69.80%)        27.757353  rain industries limited
757  (118.50%)        21.821407  rain industries limited

              Company Name_x Symbol_x           Company Name_y Symbol_y
0      havells india limited  HAVELLS    havells india limited  HAVELLS
1      havells india limited  HAVELLS    havells india limited  HAVELLS
2      havells india limited  HAVELLS    havells india limited  HAVELLS
3      havells india limited  HAVELLS    havells india limited  HAVELLS
4      havells india limited  HAVELLS    havells india limited  HAVELLS
..                       ...      ...                      ...      ...
753  rain industries limited     RAIN  rain industries limited     RAIN
754  rain industries limited     RAIN  rain industries limited     RAIN
755  rain industries limited     RAIN  rain industries limited     RAIN
756  rain industries limited     RAIN  rain industries limited     RAIN
757  rain industries limited     RAIN  rain industries limited     RAIN

[758 rows x 18 columns]

In [ ]:
# Check if the company names and symbols from the two sources are identical
company_name_match = df['Company Name_x'] == df['Company Name_y']
symbol_match = df['Symbol_x'] == df['Symbol_y']

# Create a new DataFrame that shows where there are differences
differences = df[~(company_name_match & symbol_match)]

# Print rows where there are differences
print("Rows with differences between the two sources:")
print(differences)

# Optionally, count how many rows are different
num_differences = len(differences)
print(f"Number of differences: {num_differences}")

In [37]:
# Group by unique combinations of the specified columns and count the occurrences of each unique combination
grouped_analyst_ratings = analyst_ratings.groupby(
    ['stock_name', 'matched_company_name', 'Company Name', 'Symbol']
).size().reset_index(name='count')

grouped_analyst_ratings

KeyError: 'Company Name'

In [24]:
import sys
import os

# Get the current directory of the notebook
current_dir = os.path.dirname(os.path.abspath("__file__"))

# Append the directory of script
sys.path.append(os.path.join(current_dir, 'Project-1'))

# call predict_n_day_return function
from nday_stockprediction import predict_n_day_return

In [25]:
# Example usage - test individual tickers
result = predict_n_day_return(ticker='HDFCBANK', date_d='2024-05-30', n=5, stock_df=stock_df, dividend_df=dividend_rows)
print(result)

(1519.0, 1559.7, 0.026793943383805165, Timestamp('2024-05-31 00:00:00'), Timestamp('2024-06-06 00:00:00'), 'Data not available for 2024-06-05 00:00:00. Nearest available date is 2024-06-06.\n')

In [36]:
# # Filter analyst_ratings for HDFCBANK on the specified date
# hdfc_analyst_row = analyst_ratings[(analyst_ratings['Symbol_x'] == 'HDFCBANK') & 
#                                    (analyst_ratings['date'] == '2024-05-30')]

# # Extract the expected return from the filtered row
# expected_return_hdfc = hdfc_analyst_row['expected_return']

# # Call the predict_n_day_return function to get the predicted return
# predicted_return = predict_n_day_return(ticker='HDFCBANK', date_d='2024-05-30', n=5, stock_df=stock_df, dividend_df=dividend_rows)

# # Print the results for comparison
# print(f"Expected Return (from analyst ratings): {expected_return_hdfc}%")
# print(f"Predicted Return (from model): {predicted_return}%")

# # Compare the two values
# if expected_return_hdfc == predicted_return:
#     print("The expected return matches the predicted return.")
# else:
#     print("The expected return does not match the predicted return.")

In [ ]:
# Function to get the nearest available date in stock data if the exact date is missing
def get_nearest_date(stock_data, reference_date):
    stock_data = stock_data.copy() 
    stock_data['Date'] = pd.to_datetime(stock_data['Date'])  
    reference_date = pd.to_datetime(reference_date)
    
    if reference_date in stock_data['Date'].values:
        return reference_date  # Exact match found
    else:
        # Find the nearest available date
        closest_date = stock_data.loc[stock_data['Date'].sub(reference_date).abs().idxmin(), 'Date']
        return closest_date

# Loop through each row of the analyst ratings with a progress bar
for index, row in tqdm(analyst_ratings.iterrows(), total=analyst_ratings.shape[0], desc="Processing"):
    matched_company = row['matched_company_name']  # Refer to the matched company name in the dataframe
    
    if matched_company:
        # Get the ticker corresponding to the matched company name
        matched_ticker = stock_df[stock_df['Company Name'].str.lower() == matched_company]['Symbol'].iloc[0]
    else:
        matched_ticker = None  # No matching company found
    
    n_days = 5  # Set the number of days for predicting return
    
    # Only call the function if a ticker was found
    if matched_ticker:
        try:
            # Get stock data for the matched ticker
            stock_data = stock_df.loc[stock_df['Symbol'] == matched_ticker].copy()  # Use .copy() to avoid warnings
            
            # Get the nearest available date if the reference date is not found
            nearest_date = get_nearest_date(stock_data, row['date'])
            
            # Call the prediction function with the nearest available date
            _, _, total_return, _, _, _ = predict_n_day_return(matched_ticker, nearest_date, n_days, stock_df, dividend_rows)
            analyst_ratings.loc[index, 'actual_return'] = total_return  # Use .loc to set the value
        
        except Exception as e:
            analyst_ratings.loc[index, 'actual_return'] = None  # Store None if there's an error
            tqdm.write(f"Error for {matched_ticker} on {row['date']}: {e}")
    else:
        analyst_ratings.loc[index, 'actual_return'] = None  # No ticker found, store None
    
    # Print a warning if the nearest date is not the same as the reference date
    if nearest_date != row['date']:
        tqdm.write(f"Reference date {row['date']} not found. Using nearest date: {nearest_date}")

Processing:   0%|▎                                                                                                                   | 2/758 [00:11<1:10:28,  5.59s/it]

Reference date 2024-07-21 00:00:00 not found. Using nearest date: 2024-07-22 00:00:00

Processing:   1%|█▋                                                                                                                 | 11/758 [01:05<1:03:31,  5.10s/it]

Reference date 2024-05-01 00:00:00 not found. Using nearest date: 2024-05-02 00:00:00

Processing:   2%|█▊                                                                                                                   | 12/758 [01:09<59:43,  4.80s/it]

Reference date 2024-05-01 00:00:00 not found. Using nearest date: 2024-05-02 00:00:00

Processing:   5%|█████▋                                                                                                               | 37/758 [03:05<49:58,  4.16s/it]

In [ ]:
# Calculate correlation
correlation = analyst_ratings[['expected_return', 'actual_return']].corr().iloc[0, 1]
print(f"Correlation between expected returns and actual returns: {correlation}")

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(12, 6))
sns.scatterplot(data=analyst_ratings, x='expected_return', y='actual_return')
plt.title('Predicted vs. Actual Returns')
plt.xlabel('Predicted Return')
plt.ylabel('Actual Return')
plt.show()

In [ ]:
# Save the DataFrame to a CSV file
output_file = 'data/updated_analyst_ratings.csv'
analyst_ratings.to_csv(output_file, index=False)  # index=False to avoid writing row numbers

print(f"DataFrame saved to {output_file}")

In [ ]:
import pandas as pd

# Load the data
df = pd.read_csv('updated_analyst_ratings.csv')

# Check the number of rows (data points)
print(f"Number of data points: {len(df)}")

# Check for missing values in the dataset
missing_data = df.isnull().sum()
print("Missing values in each column:\n", missing_data)