# Import librarires

In [8]:
import pandas as pd
import numpy as np

# Load Data

In [4]:
stock_df = pd.read_csv('data/adjusted_stock_data.csv')
stock_df['Date'] = pd.to_datetime(stock_df['Date'])
stock_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Description,Symbol,Company Name,"Market capitalization as on March 28, 2024\n(In lakhs)"
0,2024-07-30,3034.05,3050.00,3020.00,3026.30,3026.30,4110291.0,Reliance Industries Limited engages in hydroca...,RELIANCE,Reliance Industries Limited,2.010560e+08
1,2024-07-29,3023.90,3055.00,3023.55,3040.20,3040.20,3769275.0,Reliance Industries Limited engages in hydroca...,RELIANCE,Reliance Industries Limited,2.010560e+08
2,2024-07-26,2984.80,3024.85,2980.70,3018.05,3018.05,4929970.0,Reliance Industries Limited engages in hydroca...,RELIANCE,Reliance Industries Limited,2.010560e+08
3,2024-07-25,2962.00,3000.95,2954.15,2984.80,2984.80,6259938.0,Reliance Industries Limited engages in hydroca...,RELIANCE,Reliance Industries Limited,2.010560e+08
4,2024-07-24,2970.00,3019.00,2952.80,2991.40,2991.40,5956681.0,Reliance Industries Limited engages in hydroca...,RELIANCE,Reliance Industries Limited,2.010560e+08

In [7]:
dividend_rows =  pd.read_csv('data/dividend_rows.csv')
dividend_rows['Date'] = pd.to_datetime(dividend_rows['Date'])
dividend_rows.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Company Name_x,Ticker,Company Name_y,Description,Symbol,Company Name,"Market capitalization as on March 28, 2024\n(In lakhs)"
0,2023-08-21,9.00Dividend,NaN,NaN,NaN,NaN,NaN,Reliance Industries Limited,RELIANCE,Reliance Industries Limited,Reliance Industries Limited engages in hydroca...,RELIANCE,Reliance Industries Limited,2.010560e+08
1,2022-08-18,8.00Dividend,NaN,NaN,NaN,NaN,NaN,Reliance Industries Limited,RELIANCE,Reliance Industries Limited,Reliance Industries Limited engages in hydroca...,RELIANCE,Reliance Industries Limited,2.010560e+08
2,2021-06-11,7.00Dividend,NaN,NaN,NaN,NaN,NaN,Reliance Industries Limited,RELIANCE,Reliance Industries Limited,Reliance Industries Limited engages in hydroca...,RELIANCE,Reliance Industries Limited,2.010560e+08
3,2020-07-02,6.50Dividend,NaN,NaN,NaN,NaN,NaN,Reliance Industries Limited,RELIANCE,Reliance Industries Limited,Reliance Industries Limited engages in hydroca...,RELIANCE,Reliance Industries Limited,2.010560e+08
4,2019-08-02,6.44Dividend,NaN,NaN,NaN,NaN,NaN,Reliance Industries Limited,RELIANCE,Reliance Industries Limited,Reliance Industries Limited engages in hydroca...,RELIANCE,Reliance Industries Limited,2.010560e+08

In [5]:
analyst_ratings =  pd.read_csv('data/2000_analysts_og.csv')
analyst_ratings['date'] = pd.to_datetime(analyst_ratings['date'])
analyst_ratings.head()

C:\Users\disch\AppData\Local\Temp\ipykernel_32\1269458253.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  analyst_ratings['date'] = pd.to_datetime(analyst_ratings['date'])

,Unnamed: 0,date,stock_name,author,ltp,target,price_at_reco,upside%,type,pdf_url
0,45319,2024-07-29,havells-india-ltd,Geojit BNP Paribas\nReco Target,1988.05,1644.0,1837.60\n(8.19%),17.31,Sell,https://trendlyne.com/get-document/report/pdf/...
1,45320,2024-07-21,havells-india-ltd,Anand Rathi\nTarget,1988.05,2146.0,1768.50\n(12.41%),7.94,Buy,https://trendlyne.com/get-document/report/pdf/...
2,45321,2024-07-19,havells-india-ltd,Keynote Capitals Ltd\nReco Target,1988.05,1720.0,1768.50\n(12.41%),Target met,Sell,https://trendlyne.com/get-document/report/pdf/...
3,45322,2024-07-19,havells-india-ltd,Prabhudas Lilladhar\nTarget,1988.05,1976.0,1768.50\n(12.41%),Target met,Accumulate,https://trendlyne.com/get-document/report/pdf/...
4,45323,2024-06-05,havells-india-ltd,BOB Capital Markets Ltd.,1988.05,1780.0,1792.80\n(10.89%),Target met,Hold,https://trendlyne.com/get-document/report/pdf/...

# Data Exploration

In [2]:
stock_df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'Description', 'Symbol', 'Company Name',
       'Market capitalization as on March 28, 2024\n(In lakhs)'],
      dtype='object')

In [9]:
stock_df.isna().sum()

Date                                                           0
Open                                                           0
High                                                           0
Low                                                            0
Close                                                          0
Adj Close                                                      0
Volume                                                    292717
Description                                                    0
Symbol                                                         0
Company Name                                                   0
Market capitalization as on March 28, 2024\n(In lakhs)    103692
dtype: int64

In [ ]:
dividend_rows.columns

In [ ]:
dividend_rows.isna().sum()

In [ ]:
unique_tickers = dividend_rows['Ticker'].unique() 
unique_tickers

In [ ]:
# Check if the symbols and dates match between datasets - company tickers
common_symbols = set(stock_df['Symbol']).intersection(set(dividend_rows['Symbol']))
print(f"Number of common symbols: {len(common_symbols)}")

In [ ]:
import re

# Define a function to clean author names
def clean_author_name(author):
    # Remove any newline characters and unwanted suffixes
    return re.sub(r'\n.*', '', author).strip()

# Apply the cleaning function to the 'author' column using .loc
stock_df.loc[:, 'author'] = stock_df['author'].apply(clean_author_name)

# Display the cleaned unique author names
print(stock_df['author'].unique())

In [ ]:
analyst_ratings.columns

In [ ]:
analyst_ratings.isna().sum()

# Data Preprocessing

In [10]:
stock_df = stock_df.drop([
    'Volume', 
    'Market capitalization as on March 28, 2024\n(In lakhs)', 
    'Open', 
    'High', 
    'Low', 
    'Close', 
    'Adj Close'
], axis=1)

In [ ]:
def clean_price_at_reco(price):
    percentage = None  # Initialize percentage as None

    # Check if the price is a string
    if isinstance(price, str):
        # Split the string by newline
        parts = price.split('\n')
        
        # Check if we have at least two parts
        if len(parts) >= 2:
            # Take the first part as price and second as percentage
            price = parts[0]
            percentage = parts[1]
            
        # Attempt to convert to numeric, ignoring any errors
        price = pd.to_numeric(price, errors='coerce')
    
    return price, percentage
    
# Apply the cleaning function to the 'price_at_reco' column and collect results
analyst_ratings[['cleaned_price_at_reco', 'percentage']] = analyst_ratings['price_at_reco'].apply(
    lambda x: pd.Series(clean_price_at_reco(x))
)

# Print the cleaned DataFrame
analyst_ratings[['price_at_reco', 'cleaned_price_at_reco', 'percentage']]

In [ ]:
analyst_ratings

# Output Variable 1

In [ ]:
# Clean 'price_at_reco' and 'target' to extract numeric values
analyst_ratings['cleaned_price_at_reco'] = analyst_ratings['cleaned_price_at_reco'].astype(float)
analyst_ratings['target'] = analyst_ratings['target'].astype(float)

# Calculate expected return
analyst_ratings['expected_return'] = ((analyst_ratings['target'] - analyst_ratings['cleaned_price_at_reco']) / analyst_ratings['cleaned_price_at_reco']) * 100

In [ ]:
#difference between target and price at recommendation - which defines upside% whether target was met or not
analyst_ratings[['target','cleaned_price_at_reco']]

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd
from tqdm import tqdm

# Filter the DataFrame for the date range
df_2019 = stock_df[(stock_df['Date'] >= '1900-01-01') & (stock_df['Date'] <= '2024-12-31')]

# Prepare company names for TF-IDF matching
company_names = [x.lower() for x in stock_df['Company Name'].unique().tolist()]
vectorizer = TfidfVectorizer(analyzer='char', ngram_range=(2, 4), max_features=5000)  # Character-based TF-IDF
tfidf_matrix = vectorizer.fit_transform(company_names)

print("Matrix shape", tfidf_matrix.shape)

# Function to get the best match using cosine similarity
def get_closest_company_name(input_name, company_names, tfidf_matrix, vectorizer):
    input_tfidf = vectorizer.transform([input_name.lower()])
    cosine_similarities = cosine_similarity(input_tfidf, tfidf_matrix).flatten()
    best_match_idx = cosine_similarities.argmax()
    best_match_score = cosine_similarities[best_match_idx]
    return company_names[best_match_idx] if best_match_score > 0.5 else None  # Threshold of 0.5 for similarity

# Apply TF-IDF matching with tqdm for progress visualization
tqdm.pandas()  # Initialize tqdm with pandas
analyst_ratings['matched_company_name'] = analyst_ratings['stock_name'].progress_apply(
    lambda x: get_closest_company_name(x, company_names, tfidf_matrix, vectorizer)
)

# Create a mapping of matched company names to symbols
symbol_map = stock_df[['Company Name', 'Symbol']].drop_duplicates()
symbol_map['Company Name'] = symbol_map['Company Name'].str.lower()
analyst_ratings = pd.merge(analyst_ratings, symbol_map, left_on='matched_company_name', right_on='Company Name', how='left')

In [ ]:
print(analyst_ratings)

In [ ]:
import sys
import os

# Get the current directory of the notebook
current_dir = os.path.dirname(os.path.abspath("__file__"))

# Append the directory of script
sys.path.append(os.path.join(current_dir, 'Project-1'))

# call predict_n_day_return function
from nday_stockprediction import predict_n_day_return

In [ ]:
# Example usage - test individual tickers
result = predict_n_day_return(ticker='HDFCBANK', date_d='2024-05-30', n=5, stock_df=stock_df, dividend_df=dividend_rows)
print(result)

In [ ]:
hdfc_analyst_row = analyst_ratings[(analyst_ratings['Symbol'] == 'HDFCBANK') & 
                                   (analyst_ratings['date'] == '2024-05-30')]

if hdfc_analyst_row.empty:
    print("No analyst rating found for HDFCBANK on 2024-05-30.")
else:
    # Extract the expected return
    expected_return_hdfc = hdfc_analyst_row['expected_return'].values[0]
    # Compare with the predicted return
    predicted_return = predict_n_day_return(ticker='HDFCBANK', date_d='2024-05-30', n=5, stock_df=stock_df, dividend_df=dividend_rows)
    print(f"Expected Return (from analyst ratings): {expected_return_hdfc}%")
    print(f"Predicted Return (from model): {predicted_return}%")

In [ ]:
# Function to get the nearest available date in stock data if the exact date is missing
def get_nearest_date(stock_data, reference_date):
    stock_data = stock_data.copy()
    stock_data['Date'] = pd.to_datetime(stock_data['Date'])  
    reference_date = pd.to_datetime(reference_date)
    
    if reference_date in stock_data['Date'].values:
        return reference_date  # Exact match found
    else:
        # Find the nearest available date
        closest_date = stock_data.loc[stock_data['Date'].sub(reference_date).abs().idxmin(), 'Date']
        return closest_date

# Loop through each row of the analyst ratings with a progress bar
for index, row in tqdm(analyst_ratings.iterrows(), total=analyst_ratings.shape[0], desc="Processing"):
    matched_company = row['matched_company_name']  # Refer to the matched company name in the dataframe
    
    if matched_company:
        # Get the ticker corresponding to the matched company name
        matched_ticker = stock_df[stock_df['Company Name'].str.lower() == matched_company]['Symbol'].iloc[0]
    else:
        matched_ticker = None  # No matching company found
    
    n_days = 5  # Set the number of days for predicting return
    
    # Only call the function if a ticker was found
    if matched_ticker:
        try:
            # Get stock data for the matched ticker
            stock_data = stock_df.loc[stock_df['Symbol'] == matched_ticker].copy()  # Use .copy() to avoid warnings
            
            # Get the nearest available date if the reference date is not found
            nearest_date = get_nearest_date(stock_data, row['date'])
            
            # Call the prediction function with the nearest available date
            _, _, total_return, _, _, _ = predict_n_day_return(matched_ticker, nearest_date, n_days, stock_df, dividend_rows)
            analyst_ratings.loc[index, 'actual_return'] = total_return  # Use .loc to set the value
        
        except Exception as e:
            analyst_ratings.loc[index, 'actual_return'] = None  # Store None if there's an error
            tqdm.write(f"Error for {matched_ticker} on {row['date']}: {e}")
    else:
        analyst_ratings.loc[index, 'actual_return'] = None  # No ticker found, store None
    
    # Print a warning if the nearest date is not the same as the reference date
    if nearest_date != row['date']:
        tqdm.write(f"Reference date {row['date']} not found. Using nearest date: {nearest_date}")

In [ ]:
industry_keywords = {
    'Finance': ['bank', 'financial', 'insurance', 'capital', 'investment', 'wealth', 'lending', 'asset management', 'mutual fund', 'securities', 'credit', 'equity', 'stock exchange', 'private equity', 'venture capital'],
    
    'Technology': ['tech', 'software', 'IT', 'digital', 'cloud', 'data', 'artificial intelligence', 'AI', 'machine learning', 'hardware', 'blockchain', 'cybersecurity', 'semiconductor', 'saas', 'paas', 'technology services', 'internet', 'networking'],
    
    'Healthcare': ['pharma', 'biotech', 'medical', 'healthcare', 'hospital', 'clinical', 'diagnostics', 'life sciences', 'medtech', 'wellness', 'drug', 'therapy', 'genomics', 'vaccines', 'biopharma'],
    
    'Manufacturing': ['steel', 'cement', 'construction', 'engineering', 'manufacturing', 'machinery', 'industrial', 'fabrication', 'metals', 'automotive', 'tools', 'aerospace', 'assembly', 'chemicals', 'plastics', 'production'],
    
    'Energy': ['oil', 'energy', 'gas', 'power', 'coal', 'electricity', 'solar', 'renewable', 'wind', 'hydro', 'nuclear', 'fossil fuels', 'mining', 'petroleum', 'green energy', 'battery'],
    
    'Consumer Goods': ['consumer', 'retail', 'fashion', 'apparel', 'food', 'beverage', 'fmcg', 'personal care', 'household', 'luxury', 'ecommerce', 'cosmetics', 'home appliances', 'groceries', 'sportswear', 'furniture'],
    
    'Telecommunications': ['telecom', 'wireless', 'broadband', 'satellite', 'mobile', 'network', 'fiber', 'telecommunication services', 'cellular', '5G', 'communication', 'ISP'],
    
    'Utilities': ['water', 'electric', 'gas distribution', 'utilities', 'waste management', 'public services', 'sanitation', 'power grid'],
    
    'Real Estate': ['real estate', 'property', 'construction', 'housing', 'commercial real estate', 'residential', 'mortgage', 'land development', 'realty', 'leasing', 'brokerage', 'facility management', 'rental'],
    
    'Transportation': ['logistics', 'shipping', 'transportation', 'rail', 'trucking', 'freight', 'airlines', 'aviation', 'maritime', 'delivery', 'supply chain', 'public transport', 'cargo', 'transport services'],
    
    'Media & Entertainment': ['media', 'entertainment', 'film', 'television', 'music', 'broadcast', 'news', 'publishing', 'streaming', 'advertising', 'social media', 'gaming', 'content creation'],
    
    'Agriculture': ['agriculture', 'farming', 'crop', 'livestock', 'dairy', 'agribusiness', 'fertilizers', 'agrochemicals', 'forestry', 'horticulture', 'fisheries', 'seed', 'organic farming'],
    
    'Retail': ['retail', 'wholesale', 'department store', 'grocery', 'mall', 'shopping', 'online store', 'boutique', 'supermarket', 'convenience store']
}

In [ ]:
print(stock_df.duplicated().sum())  # Count duplicate rows

In [ ]:
stock_df.info()

In [ ]:
from tqdm import tqdm

# Initialize tqdm for pandas
tqdm.pandas()

# Function to identify sector based on description
def identify_sector(description):
    description = description.lower()  # Convert to lowercase for case-insensitive matching
    for sector, keywords in industry_keywords.items():
        if any(keyword in description for keyword in keywords):
            return sector
    return 'Unknown'  # Return 'Unknown' if no match is found

# Create a new DataFrame with unique companies based on 'Symbol'
unique_companies_df = stock_df.drop_duplicates(subset=['Symbol']).copy()

# Apply sector identification on the unique companies
unique_companies_df['Sector'] = unique_companies_df['Description'].progress_apply(identify_sector)

# Display the updated DataFrame with unique entries and their sector
print(unique_companies_df[['Symbol', 'Company Name', 'Description', 'Sector']])

# If needed, you can save this to a new DataFrame, e.g., `unique_sector_df`, without affecting `stock_df`
unique_sector_df = unique_companies_df[['Symbol', 'Company Name', 'Description', 'Sector']].copy()

In [ ]:
unique_sector_df

In [ ]:
stock_df.columns

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Group by 'Sector' and aggregate company names
sector_group_details = unique_sector_df.groupby('Sector').agg({
    'Company Name': lambda x: ', '.join(x.unique()),  # Combine company names
    'Symbol': 'count'  # Count the number of companies in each sector
}).reset_index()

# Rename the 'Symbol' column to 'Company Count' for clarity
sector_group_details.rename(columns={'Symbol': 'Company Count'}, inplace=True)

# Display the sector details
print(sector_group_details)

# Plotting the information
plt.figure(figsize=(12, 6))
sns.barplot(data=sector_group_details, x='Sector', y='Company Count', palette='viridis')

# Adding titles and labels
plt.title('Number of Companies by Sector')
plt.xlabel('Sector')
plt.ylabel('Company Count')
plt.xticks(rotation=45)  # Rotate x-axis labels for better readability
plt.grid(axis='y')
plt.tight_layout()  # Adjust layout
plt.show()

In [ ]:
# Ensure the DataFrame with unique sectors based on symbols is saved as 'unique_sectors_df'
# Assuming 'Symbol' is the column name in both DataFrames

# Perform an inner join on 'Symbol' column
merged_df = pd.merge(analyst_ratings, unique_sector_df[['Symbol', 'Sector']], on='Symbol', how='inner')

# Display the merged DataFrame to confirm
print(merged_df.head())

In [ ]:
# Select only the desired columns from merged_df
filtered_df = merged_df[['date', 'Company Name', 'Symbol', 'author', 'year', 'Sector', 'expected_return', 'actual_return']]

# Display the filtered DataFrame to verify
print(filtered_df.head())

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Group by 'Sector' and aggregate company names
sector_group_details = filtered_df.groupby('Sector').agg({
    'Company Name': lambda x: ', '.join(x.unique()),  # Combine company names
    'Symbol': 'count'  # Count the number of companies in each sector
}).reset_index()

# Rename the 'Symbol' column to 'Company Count' for clarity
sector_group_details.rename(columns={'Symbol': 'Company Count'}, inplace=True)

# Display the sector details
print(sector_group_details)

# Plotting the information
plt.figure(figsize=(12, 6))
sns.barplot(data=sector_group_details, x='Sector', y='Company Count', palette='viridis')

# Adding titles and labels
plt.title('Number of Companies by Sector')
plt.xlabel('Sector')
plt.ylabel('Company Count')
plt.xticks(rotation=45)  # Rotate x-axis labels for better readability
plt.grid(axis='y')
plt.tight_layout()  # Adjust layout
plt.show()

# Output Dataframe - Final

In [ ]:
# Save filtered_df as a CSV file
filtered_df.to_csv('data/filtered_data.csv', index=False)

## Graveyard

In [ ]:
import pandas as pd

# Using .loc to avoid SettingWithCopyWarning
filtered_df.loc[:, 'expected_return'] = pd.to_numeric(filtered_df['expected_return'], errors='coerce')
filtered_df.loc[:, 'actual_return'] = pd.to_numeric(filtered_df['actual_return'], errors='coerce')

# Drop rows where either 'expected_return' or 'actual_return' is NaN
filtered_df = filtered_df.dropna(subset=['expected_return', 'actual_return'])

# Function to calculate correlation with minimum group size check
def calculate_correlation(df, group_cols):
    # Filter groups with at least two data points to avoid degrees of freedom error
    df_grouped = df.groupby(group_cols).filter(lambda x: len(x) > 1)
    return df_grouped.groupby(group_cols, as_index=False).apply(
        lambda x: pd.Series({'correlation': x['expected_return'].corr(x['actual_return'])})
    ).reset_index(drop=True)

# (1) Correlation by (year, author)
year_author_corr = calculate_correlation(filtered_df, ['year', 'author'])

# (2) Correlation by (year, sector)
year_sector_corr = calculate_correlation(filtered_df, ['year', 'Sector'])

# (3) Correlation by (sector, author)
sector_author_corr = calculate_correlation(filtered_df, ['Sector', 'author'])

# Display the results
print("Correlation by (year, author):\n", year_author_corr)